.pc_container {
    width: 480px;
    height: 150px;
	margin-left:10px;
}

.pc_container .pc_item {
    margin-top: 0px;
    margin-left: 1px;
    width: 480px;
    height: 150px;
	padding: 10px;
}

.pc_container .pc_bar_container {
    top: 230px;
    color: white;
    padding: 0px;
    overflow:visible;
}


.pc_item .desc {
    width: 260px;
    height: 180px;
    line-height: 1.8em;
	position: absolute;
	margin-left: 220px;
}